@import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Lemon|Slackey:400,500,600,700&display=swap');

html {
	scroll-behavior: smooth;
}

body {
    font-size: 62.5%;
}

/* Main game page */
#main {
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.game-title {
    margin-top: 18rem;
    font-family: "Lemon", sans-serif;
    font-weight: 600;
    font-size: 8rem;
    color: #3FCCF5;
    text-shadow: 4px 1px #F222D9;
}

.play-btn {
    position: center;
    margin-top: 5rem;  
    background-color: #F222D9;
    border-radius: 45%; 
    font-size: 2.5rem;
    padding: 1rem 2rem;
    font-family: "Slackey", sans-serif;
}

/* Select your option section */
#selection {
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.select-title {
    margin-top: 15rem;
    font-family: "Lemon", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #3FCCF5;
}

#category-select,
#difficulty-select,
#questions-select {
    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}