html {
	scroll-behavior: smooth;
}

body {
    font-size: 62.5%;
}


#main {
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.play-btn {
    position: center;
    margin-top: 35rem;  
}