@import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Lemon|Slackey:400,500,600,700&display=swap');

html {
	scroll-behavior: smooth;
}

body {
    font-size: 62.5%;
}

#main {
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
}

.game-title {
    margin-top: 18rem;
    font-family: "Lemon", sans-serif;
    font-weight: 600;
    font-size: 8rem;
}

.play-btn {
    position: center;
    margin-top: 5rem;  
}